

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {

  font-size: 3.5rem;
  font-weight: bold;
  font-family: 'Lora', serif;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
#title {
  background-color:#1f3c88;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 5% 0% 5% 0%;
}
.download-button {
  margin: 5% 3% 5% 0;
}
.title-image {
  width: 80%;
  right: 40%;
}

#features .container-fluid{
  padding: 5% 0% 0% 10%;
}
.white-section {
  background-color: #fff;
}
.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #5893d4;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #c9d6df;
}
.container-fluid{
  padding: 7% 15%;
}
.colored-section {
  background-color: #1f3c88;
  color: #fff;
}
.social-icon {
  margin: 20px 10px;
}
#footer .container-fluid{
  margin-left: 40%;
}
