.colored-section {
  background-color: #004aad;
  color: #fff;
}
.logo1{
  text-align: center;
  margin-left:40%;
  padding: 5% 0% 5% 0%;
  border-radius: 100%;
  }
.heading{
  text-align: center;
  text-decoration: underline;
  font-family: 'Antic', sans-serif;
  padding-top: 3%;
  color: #1f3c88;
  font-weight: bold;
}
.p1{
  text-align: center;
  padding: 3% 7% 5% 7%;
  margin-left: 15%;
  margin-right:15%;
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
  color: #393e46;

  }
  .sponsers{
    background-color:#004aad ;
    padding-bottom: 3%;
  }
  .Our{
    text-align: center;
    text-decoration: underline;
    font-family: 'Antic', sans-serif;
    font-weight: lighter;
  }

  .press-logo {

    padding-top: 5%;
    padding-left: 5%;
    width: 15%;
    margin-left: 10%;
    margin-right: 5%;

  }
  .link{
  font-size: 1.2rem;
  font-weight: lighter;
  margin-left: 80%;
  padding-bottom: 5%;
  color: #fff;
  }
